Source: dambox
Section: misc
Priority: optional
Maintainer: OpenBACH maintainers <admin@openbach.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.openbach.org/


Package: dambox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnetfilter-queue-dev
Description: DamBox package 

